{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block body %}
  
<!-- start banner Area -->
<section class="banner-area relative" id="home">
    <div class="container">
            <div class="row fullscreen align-items-center justify-content-center">
                <div class="banner-content col-lg-6 col-md-12">
                    <h1 class="text-uppercase">
                        Creat Awesome Notes .. Everywhere
                    </h1>
                <a href="{%url 'accounts:register'%}">
                    <button class="primary-btn2 mt-20 text-uppercase ">Get Started<span class="lnr lnr-arrow-right"></span></button>
                </a>
                </div>
                <div class="col-lg-6 d-flex align-self-end img-right">
                    <img class="img-fluid" src="{%static 'site-static/img/header1.png'%}" style="width: 450px " alt="">
                </div>
            </div>
    </div>
</section>
<!-- End banner Area -->

<section class="blog-area section-gap">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 pb-30 header-text">
                <h1>Our Recent Notes</h1>
                <p>
                    Creat , Update , And Share Your Notes With Others.
                </p>
                {% if user.is_authenticated %}
                <a class="btn btn-primary" href=" {% url 'home:add_note' %} ">Add A New Note</a>
            {%endif%}
            </div>
        </div>
        <div class="row">
            <div class="col">
                
        <form style="margin: 200px;" action="" method="get">
            {% csrf_token %}
            {{filter.form|crispy}}
            <button class="btn btn-primary" type="submit">Search</button>
        </form>
    
</div>
        </div>
        <div class="row">
            {%for note in home_notes%}
            <div class="single-blog col-lg-4 col-md-4">
<a href="{% url 'home:one_note' note.slug note.pk %}">
    {% if note.img %}
    <img class="f-img img-fluid mx-auto" src="{{note.img.url}}"  alt="">
{% else %}
<img class="f-img img-fluid mx-auto" src="{% static 'site-static/img/no_img.png' %}" alt="">
{% endif %}
</a>
                <h4>
                    <a href=" {% url 'home:one_note' note.slug note.pk %}">{{note.title}}   </a>
                </h4>
                <p>{{ note.content }}</p>
                <div class="bottom d-flex justify-content-between align-items-center flex-wrap">
                    <div><a href="{% url 'home:profile' %}">
                        
                        {% if profile.user_img %}
                        <img class="img-fluid" style="width: 40px; height: 40px;" src="{{profile.user_img.url}}" alt="">
                        {% else %}
                            
                        <img class="img-fluid" src="{%static 'site-static/img/user.png'%}" alt="">
                        {% endif %}
                        <span>{{note.user.username}}</span></a>
                    </div>
                    <div class="meta">
                        {{note.created}}
                        <span class="lnr lnr-heart"></span> 15
                        <span class="lnr lnr-bubble"></span> 04
                    </div>
                </div>
            </div>
            {%empty%}
            <div class="text-center mb-5">

            <h1>Empty</h1>
        </div>
            {% endfor %}
            
        </div>
        
    </div>
    {% include 'pagination.html' %}
</section>
{% endblock body %}